<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}mettlingpot{% endblock %}</title>

  {% block stylesheets %}          
    <link rel="stylesheet" href="{{ asset('main.css') }}"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  {% endblock %}
</head>

<body>

{{ include("::nav.html.twig") }}

  <div class="container">
    <div class="row">
      <div id="menu" class="col-md-3">
          
        
{{ include("::recherche.html.twig") }}
              
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <h3><a href="{{ path('mp_user_profil') }}">{{ app.user.username }}</a></h3>
        <ul class="nav nav-pills nav-stacked"> 
            <li><a href="{{ path('mp_platform_add') }}">Ajouter un événement</a></li>
            <li><a href="{{ path('mp_user_profil') }}">Favoris</a></li>
            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
        </ul> 
        {% else %}
        <ul class="nav nav-pills nav-stacked"> 
            <h3></h3>
            <li><a href="{{ path('login') }}">Connectez vous</a></li>
            <li><a href="{{ path('mp_user_register') }}">Inscrivez vous</a></li>        
        </ul> 
        {% endif %}

      </div>
      <div id="content" class="col-md-9">
      
  {{ include("::errorSuccess.html.twig") }} 

        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>



    <footer>
        <div id="content" class="col-md-9">
            <p>Mettlingpot Copyrignt © {{ 'now'|date('Y') }} Beta</p>
        </div>
    </footer>
  </div>

  {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  {% endblock %}

</body>
</html>