
<h3>Mes événements</h3>
<div class="well">
    {% for advert in listAdverts %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
            {% if advert.image is not null %}
            <div class="containerImg"><img class="img-responsive img" src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}"></div>
            {% endif %}
                <div class="caption">
                    {% if advert.title|length > 20 %}
                    <h3>{{ advert.title|slice(0, 17) }}...</h3>
                    {% else %}
                    <h3>{{ advert.title }}</h3>
                    {% endif %}
                    <p>{% if advert.adresse is not null %}{{ advert.adresse.ville }} {% endif %}</p>
                    <a href="{{ path('mp_platform_edit', {'id': advert.id}) }}"  class="btn btn-xs btn-primary" role="button">Modifier  <i class="glyphicon glyphicon-edit"></i></a> 
                    <a href="{{ path('mp_platform_delete', {'id': advert.id}) }}" class="btn btn-xs btn-primary btn-danger">Supprimer <i class="glyphicon glyphicon-trash">     </i></a></p>
                </div>
            </div>
        </div>
        {% else %}
            Pas (encore !) d'événement 
        <a href="{{ path('mp_platform_add') }}">Ajouter un événement</a>
        {% endfor %}
</div>