
<h3>Favoris</h3>
<div class="well">
    {% for advert in listFavoris %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
            {% if advert.image is not null %}
                <div class="containerImg"><img class="img-responsive img" src="{{ asset(advert.image.uploadDir ~ '/' ~ advert.image.url) }}" alt="{{ advert.image.alt }}"></div>
            {% endif %}
                <div class="caption">       
                    {% if advert.title|length > 20 %}
                    <h3>{{ advert.title|slice(0, 17) }}...</h3>
                    {% else %}
                    <h3>{{ advert.title }}</h3>
                    {% endif %}
                    <p>{% if advert.adresse is not null %}{{ advert.adresse.ville }} {% endif %}</p>
                    <a href="{{ path('mp_platform_view', {'id': advert.id}) }}" class="btn btn-xs btn-primary" role="button" title="En savoir +">En savoir +</a>
                    <a href="{{ path('mp_platform_favoris', {'id': advert.id}) }}" class="btn btn-xs btn-primary btn-danger" role="button" title="En savoir +">retirer favoris<i class="glyphicon glyphicon-heart"></i></a>
                </div>
            </div>
        </div>
            {% else %}
                Vous pouvez ajouter ici une liste de vos événements favoris.
            {% endfor %}

</div>